body {
  background-color: aquamarine;
}

.frame {
  border: 2px solid red;
  height: 500px;
  /* width: 400%; */
  overflow: hidden;
  text-align: center;
  width: 90%;
  margin: auto;
}

.slideWrapper {
  width: 400%;
  height: 100%;
  animation: slideshow 8s;
  /* margin-left: -100%; */
  animation-iteration-count: infinite;
}

@keyframes slideshow {
  0% {
  }
  25% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.slideWrapper > div {
  /* background-color: bisque; */
  /* border: 2px solid rgb(190, 136, 255); */
  width: 25%;
  float: left;
  height: 100%;
}

.slideWrapper > div > img {
  height: 100%;
  width: 100%;
}

/* .slide:nth-child(1) */
.s1 {
  background-color: aliceblue;
  background-image: url('../assets/mong-bui-xdJN-7PZs5o-unsplash.jpg');
  background-size: 100% 100%;
}

.s2 {
  background-color: bisque;
  background-image: url('../assets/elena-koycheva-PFzy4N0_R3M-unsplash.jpg');
  background-size: 100% 100%;
}

.s3 {
  background-color: aqua;
  background-image: url('../assets/shamblen-studios-JBsXa_-qxIc-unsplash.jpg');
  background-size: 100% 100%;
}

.s4 {
  background-color: cadetblue;
  background-image: url('../assets/allison-saeng-_tarARuYFAU-unsplash.jpg');
  background-size: 100% 100%;
}
