body {
  background-color: bisque;
}

h1 {
  font-size: 60px;
  color: lightcoral;
  background-color: aquamarine;
  /* animation-name: moveh1; */
  animation-duration: 4s;
  animation-delay: 0ms;
  margin-left: 0;
  /* animation-iteration-count: infinite; */
}

/* @keyframes moveh1 {
  0% {
    margin-left: 10%;
    width: 50%;
    border: 3px solid salmon;
  }
  33% {
    margin-left: 30%;
    width: 30%;
  }
  50% {
    margin-left: 12%;
    margin-top: 0;
    width: 30%;
  }
  66% {
    margin-left: 60%;
    width: 30%;
  }
  100% {
    margin-left: 30%;
    margin-top: 30%;
    width: 60%;
  }
} */

.herobox {
  height: 500px;
  background-image: url('../assets/shamblen-studios-JBsXa_-qxIc-unsplash.jpg');
  background-size: 100% 100%;
  background-repeat: repeat;
  position: relative;
}

.herobox > div {
  position: absolute;
  bottom: 0;
  width: 20%;
  height: 20%;
  border: 3px solid hotpink;
  animation: lollipop 2s;
  animation-iteration-count: infinite;
}

.herobox > div > img {
  width: 100%;
  height: 100%;
}

@keyframes lollipop {
  0% {
    left: 50px;
  }
  30% {
    left: 100px;
  }
  50% {
    left: 250px;
    bottom: 100px;
    width: 16%;
  }
  100% {
    left: 500px;
  }
}
